.modal {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.158);
}

.modal-div {
    padding: 1%;
    position: 'absolute';
    background-color: black;
    color: red;
    border: 2px solid red;
}

#modal-modal-title {
    font-family: akira;
}

#modal-modal-description {
    font-family: 'Courier New', Courier, monospace;
}