.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 3%;
    border: solid 3px;
    border-color: red;
    color: red;
    font-family: monospace;
    background-color: black;
}

.card-desc {
    font-size: 2.5vh;
}

.card h2 {
	font-family: Akira;
	color: red;
	text-decoration: none;
}