.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border: solid 3px;
    border-color: red;
    color: red;
    font-family: monospace;
    background-color: black;
}

.card-desc {
    margin: 0 3%;
    font-size: 2.5vh;
}

.card-header {
    height: 20%;
}

.header-item {
    height: 100%;
}

.fav-btn {
    margin-right: 5% !important;
    float: right;
    height: 100%;
    width: 10%;
}

.img {
    height: 100%;
}

.card h2 {
    margin-left: 3%;
	font-family: Akira;
	color: red;
	text-decoration: none;
}