.mainMenu {
	width: 60% !important;
	margin: 3% auto 0 !important;
}

.project-link {
	text-decoration: none;
}

.img-holder {
	margin: 0;
	padding: 20%;
}

.homeImg {
	width: 100%;
	height: auto;
}

.menu-buttons {
	margin: auto !important;
}

.links-list {
	margin: 0;
	height: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	list-style: none;
}

.link {
	font-family: BlueScreen;
	color: red;
	text-decoration: none !important;
}

.link :hover {
	text-decoration: line-through !important;
}