.navbar {
	background-color: black;
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: red;
}

.path {
	/*margin-top: 0.5vh !important;*/
	/*margin-bottom: 0.5vh !important;*/
	margin: 0;
	padding: 0;
	padding-left: 3%;
	color: red !important;
	font-weight: 600 !important;
}

hr {
	background-color: red;
	border: none;
	margin-bottom: 0;
	height: 1px;
}

.navbar-top
{
	border-bottom: 1px solid;
	border-color: red;
}

.navTitle {
	padding-left: 3%;
	font-family: Akira;
	color: red;
}