.navbar {
	position: fixed;
	background-color: black;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: red;
}

.path {
	margin-top: 0.5vh !important;
	margin-bottom: 0.5vh !important;
	margin: 0;
	padding: 0;
	padding-left: 3%;
	color: red !important;
	font-weight: 200 !important;
}

.link {
	text-decoration: none;
}

.footer-link-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer-form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-link-cont a {
	color: red;
	font-family: 'Courier New', Courier, monospace;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
	padding-left: 0%;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1.5vh;
	border-top: 1px solid;
	border-color: red;
}

.modal {
	position: absolute;
	width: 50%;
	height: auto;
	background-color: black;
	top: '50%';
	left: '50%';
	border: '2px solid #000';
}

.footerText {

	color: red;
	font-family: 'Courier New', Courier, monospace;
}

hr {
	background-color: red;
	border: none;
	margin-bottom: 0;
	height: 1px;
}

.navbar-top {
	display: flex;
	justify-content: center;
	height: 60%;
	border-bottom: 1px solid;
	border-color: red;
}

.navTitle {
	font-family: Akira;
	color: red;
	text-decoration: none;
	font-size: 3.5vh;
}

.main-link {
	text-decoration: none !important;
}